<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
     <!--  패턴 내역
     <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>-->
     <PatternLayout pattern="[%-5level] %c{1} - %msg%n"/>
    </Console>
		<!--  {FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} -->
		
	  <JDBC name="JDBCAppender" tableName="LOGGER">
      <DataSource jndiName="java:comp/env/jdbc/oracledb" />
      <Column name="log" pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS}" />
      <!-- <Column name="log" pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n %ex{full}" /> -->
      <Column name="time" isEventTimestamp="true" />
     </JDBC>
	</Appenders>
	
	<Loggers>
		<Root level="all" additivity="false">
			<AppenderRef ref="Console"/>
		</Root>
		
		<!-- <Root level="error" additivity="false">
      <AppenderRef ref="JDBCAppender"/>
    </Root> -->
	</Loggers>
	
</Configuration>
